
*{
    box-sizing: border-box;
}
body{
    height: 98vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.Whole-Wrapper , .Search-page, .Song-Palying-Page{
    box-shadow: 0px 0px 10px black;
    /* background-color: black; */
    background-image: linear-gradient(to left, rgba(37, 29, 41, 1), rgba(22, 22, 51,1));
    width: 450px;
    height: 900px;
    border-radius: 30px;

    color: white;
    font-family: sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    border:6px solid black ;
    border-bottom:20px solid black ;
    border-top:20px solid black ;

    
    
    
    
}
.Whole-Wrapper{
    position: absolute;
    z-index: 2;
    
    
}
.Search-page{
    position: absolute;
    

    opacity: 0%;
    background-image: linear-gradient(to left, rgba(37, 29, 41, 1), rgba(22, 22, 51,.7));

    padding-top: 25px;

    overflow: scroll;
    overflow-y: scroll;
    
    z-index: 1;
    
    
}

    .Song-Palying-Page{
        position: relative;
        display: block;
        z-index: 0;

        opacity: 0;
       
        /* opacity: 60%; */
    }



h2{
    line-height: 1.7;
    padding: 10px 0px;
    margin: 0;
    margin-left: 15px;

}

.header{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
    letter-spacing: -2px;

}
#search-btn{
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    
    
}

.Movie-Name-Search{
    display: flex;
    padding: 0px 15px;
    overflow: scroll;
    height: 500px;
    /* border: 1px solid white; */
    align-items: center;

}
.Movie-Name{
    background-color: transparent;
    color: white;
    border: 1px solid white;
    font-size: 0.9em;
    padding: 7px 15px;
    border-radius: 30px;
    margin: 0 3px;
    flex-shrink: 0;

    height: 35px;
    
}

.listem-again-wrapper{
    padding: 0px 0px;
    line-height: 0.5;

    
}

.listen-again{
    /* border: 1px solid white; */
    max-width: fit-content;
    display:grid;
    grid-template-columns: 145px 145px 145px 145px 145px ;
    -ms-grid-column-align:stretch;
     overflow: scroll ;
    overflow-y: scroll;

}

.listen-again>div p{
    line-height: 1.2;
    margin:0px;
    margin-top: 5px;
    font-size: .9em;
    font-weight: bold;
}
.la-inner-div{
    box-sizing: border-box;
    width: 130px;
    overflow: hidden;
    flex-shrink: 0;
    margin: 5px 6px;    
}

.listen-again img{
    width: 130px;
    height: 130px;
    object-fit:cover;
    border-radius: 5px;


}



*::-webkit-scrollbar{
    display: none;
}
.songs-collectons{
    /* border: 1px solid rgb(189, 41, 41); */
    height: 400%;
    overflow: scroll ;
    overflow-y: scroll;
    color: white;
    padding: 0 15px;
    
    

}
.songs-collectons h2{
   line-height: 0;
}
.song-wrapper{
    display: flex;
    line-height: 0.5;
    align-items: center;
 
}
.song-wrapper img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 5px;
    
}
.song-wrapper p{
    font-size: .9em;
    color: rgba(255, 255, 255,0.7);

}

.SP-Header{
    
    /* border: 1px solid white; */
    display: flex;
    justify-content: right;
    padding: 0 20px;
}
.SP-Header input{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
    font-size: 1.5em;
    width: 0px;
    outline: none;
    color: white;


}

.SPP-Close-div{
    
    padding: 25px;
    text-align: right;
    position: relative;
    z-index: 1;
}
#SPP-close{
    /* border: 1px solid white; */
    cursor:pointer;
    padding: 10px 5px 3px 5px;
}

.img-Name-wrap{
    margin-top: 50px;
    /* border: 1px solid white; */
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;

    position: relative;
    z-index: 1;
    
}


#bg-video{
    position: absolute;
    z-index: 0;
    height: 490px;
    top: 180px;
    right: -210px;
    rotate: 90deg;

    opacity: 80%;

    
    
}

.img-disk{
    width: 330px;
    height: 330px;
    object-fit: cover;
    border-radius: 500px;
     /* box-shadow: 0 0 0 10px rgba(255, 255, 255, .08); */
     animation: pulse 2s linear infinite;
     animation-play-state: paused;
     
}
.img-disk.play{
    animation-play-state:running;
}
.img-Name-wrap.play{

}


.img-Name-wrap h2{
    margin: 0;
    margin-top: 30px;
    line-height: 1;
}
.img-Name-wrap p {
    margin: 0;
    line-height: 1;
}


.song-Control-Wrap{
    /* border: 1px solid white; */

}
.song-slider{
  
    /* border: 1px solid white; */
    text-align: center;
    padding: 0 20px;
    position: relative;
    z-index: 1;
    
}
*{
    outline: none;
}
#seek-bar{
    -webkit-appearance: none;
    width: 90%;
    height: 5px;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 0 0 10px white;
    background-color: #211B2B;
    overflow: hidden;
    outline: none;

    position: relative;
    z-index: 1;

}

#seek-bar::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 0px;
    height: 20px;
    background-color: rgba(255, 255, 255,.1);
    box-shadow: -400px 0 0 400px rgb(255, 255, 255);
}

.current-time{
    display: block;
    text-align: left;
    float: left;
    margin-top: 6px;
}
.song-duration{
    display: block;
    text-align: right;
    margin-top: 6px;
}

.play-pause-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

    position: relative;
    z-index: 1;
    
}
.play-Btn{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255,0.1);
    border: none;
    outline: none;

    cursor: pointer;
}
.play-Btn span{
    position: absolute;
    top:25%;
    left: 20%;

    transform: translate(50%);

    height: 30px;
    width: 10px;
    border-radius: 2px;
    background-color: white;
    transition: .5s;

    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100% );

}
.play-Btn span:nth-child(2){
    left: 45%;
    transform-origin: center;
}

.play-Btn.pause span:nth-child(2){
    transform: translateX(-50%) scaleY(0%) ;

}
.play-Btn.pause span:nth-child(1){
    
    width: 35%;
    left: 53%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0;

    clip-path: polygon(0 0, 100% 50%, 100% 50%, 0 100% );
}
.play-Btn.pause{
    animation: pulse 2s linear infinite;
}

@keyframes pulse {
    0%{
        box-shadow: 0 0 15px rgba(255, 255, 255,0.5);
    }
    25%{
        box-shadow: 0 0 25px rgba(255, 255, 255,0.5);
    }
    50%{
        box-shadow: 0 0 35px rgba(255, 255, 255,1);
        
    }
    75%{
        box-shadow: 0 0 25px rgba(255, 255, 255,1);
    }
    90%{
        box-shadow: 0 0 15px rgba(255, 255, 255,1);
    }
    100%{
        box-shadow: 0 0 5px rgba(255, 255, 255,1)
    }
}

.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    
}

.material-symbols-outlined {
 font-weight: bold;
  font-size: 40px;
  width: 100px;
  /* background-color: rgba(255, 255, 255,.1); */
}

@keyframes rotate{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
        
    }
}